*.pyc
__pycache
.DS_Store
.env.dev
.env.prod
.env.prod.db


.git/*
env/
venv/
.venv
.venv/

__pycache__/
*.py[cod]

migrations/

.idea
.DS_Store
.AppleDouble
.LSOverride

media/

db.sqlite3

htmlcov/
.coverage
.coverage.*
coverage.xml
*.cover
